@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading-container {
  animation: fadeIn 1.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("./assets/mtn.svg") no-repeat center center fixed;
  background-size: cover;
}

.loading-text {
  font-size: 2rem;
  color: white;
}
